<p class="supertiny">&nbsp;</p>

<div id="footer" class="center-align">
  
  <%= link_to 'Home', home_path %>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'About Baking Factory', about_path %>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'Privacy Policy', privacy_path %>
  <br />
  <div id="copy">
    Webmaster:&nbsp;&nbsp;<%= mail_to("cmay1@andrew.cmu.edu", "CJ May", encode: "javascript") %> 
    &nbsp;&nbsp;&copy 2019
  </div>

</div>