<div class="row valign-wrapper" id="topbar">
  <div class="col s1">
    <%= link_to(image_tag('logos/baker.svg', id: 'topbar_image'), home_path) %>
  </div>
  <div class="col s7">
    <h2><%= link_to "Baking Factory", home_path, class: "home_link" %></h2>
  </div>
  <div class="col s2">
    <% if logged_in? %>
      <p> Welcome, <%= current_user.username%>&nbsp;:&nbsp;<%= current_user.role%></p>
    <% end %>
  </div>
  <div class="col s3">
    <% unless current_page?(login_path) %>
      <% if logged_in? %>
        <%= link_to "LOGOUT", logout_path, class: "waves-effect waves-light btn" %>
      <% else %>
        <%= link_to "LOGIN", login_path, class: "waves-effect waves-light btn" %>
      <% end %>
    <% end %>
  </div>

  

</div>