<div class="" id="topbar">
  <div class="">
    <%= link_to(image_tag('logos/baker.svg', id: 'topbar_image'), home_path) %>
  </div>
  <div class="">
    <% if current_user.nil? %>
      <h2><%= link_to "Baking Factory", home_path, class: "home_link" %></h2>
    <% elsif current_user.role == 'admin' %>
      <h2><%= link_to "Baking Factory", admin_insights_path, class: "home_link" %></h2>
    <% elsif current_user.role == 'customer' %>
      <h2><%= link_to "Baking Factory", customer_home_path, class: "home_link" %></h2>
    <% elsif current_user.role == 'baker' %>
      <h2><%= link_to "Baking Factory", baker_home_path, class: "home_link" %></h2>
    <% elsif current_user.role == 'shipper' %>
      <h2><%= link_to "Baking Factory", shipper_home_path, class: "home_link" %></h2>
    <% else %>
      <h2><%= link_to "Baking Factory", home_path, class: "home_link" %></h2>
    <% end %>
  </div>
  <div id="reg-btns">
    <% if logged_in? %>
      <p> Welcome, <%= current_user.username%>&nbsp;:&nbsp;<%= current_user.role%></p>
    <% else %>
      <p> </p>
    <% end %>
  </div>
  <div>
    <% if logged_in? %>
      <div class="">
        <%= link_to "LOGOUT", logout_path, class: "waves-effect waves-light btn hide-on-small-and-down", id: "loginout" %>
      </div>
    <% else %>
      <div class="">
        <%= link_to "LOGIN", login_path, class: "waves-effect waves-light btn hide-on-small-and-down", id: "loginout" %>
        <%= link_to "REGISTER", new_customer_path, class: "waves-effect waves-light btn red hide-on-small-and-down", id: "loginout"%>
      </div>
    <% end %>
  </div>

</div>