<% if customers.empty? %>
  <h5>There are no <%= state %> customers at this time.</h5>
<% else %>
  <table class="table striped">
    <thead>
      <tr>
        <th width="225">Name</th>
        <th width="150">Phone</th>
        <th width="200">Email</th>
        <% if current_user.role?(:admin) %>
          <th class="align_center" width="100">Options</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% customers.each do |customer| %>
        <tr>
          <td><%= link_to customer.name, customer_path(customer) %></td>
          <td><%= number_to_phone customer.phone %></td>
          <td><%= mail_to customer.email, customer.email, encode: "javascript"  %></td>
          <% if current_user.role?(:admin) %>
            <td class="align_center">
              <%= link_to edit_customer_path(customer) do %>
                <i class="material-icons">edit</i>
              <% end %>
              &nbsp;&nbsp;&nbsp;&nbsp; 
              <%= link_to(customer_path(customer), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }) do %>
                <i class="material-icons">delete</i>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= will_paginate customers, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
<p>&nbsp;</p>