<h4>Order History for <strong><%= current_user.customer.proper_name %></b></h4>
<table class="table striped">
  <thead>
    <tr>
      <th width="100">Date</th>
      <th width="200">Recipient</th>
      <th width="100">Cost</th>
      <th width="50"></th>
    </tr>
  </thead>
  <tbody>
    <% @previous_orders.each do |order| %>
      <tr>
        <td><%= link_to order.date.strftime('%m/%d/%y'), order_path(order) %></td>
        <td><%= link_to order.address.recipient, address_path(order.address) %></td>
        <td><%= number_to_currency order.grand_total %></td>
        <td><%= link_to 'Reorder', add_to_cart_path(order_items: order.order_items.map(&:id)), class: "btn waves-effect waves-light green" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @previous_orders, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
