<h4><%= status %> Orders</h4>
<table class="table striped">
  <thead>
    <tr>
      <th width="100">Date</th>
      <th width="225">Customer</th>
      <th width="225">Recipient</th>
      <th width="100">Cost</th>
      <% if current_user.role? :admin %>
          <th class="align_center" width="100">Options</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
      <tr>
        <td><%= link_to order.date.strftime('%m/%d/%y'), order_path(order) %></td>
        <td><%= link_to order.customer.name, customer_path(order.customer) %></td>
        <td><%= link_to order.address.recipient, address_path(order.address) %></td>
        <td><%= number_to_currency order.grand_total %></td>
        <% if current_user.role? :admin %>
            <td class="align_center">
              <%= link_to edit_order_path(order) do %>
                <i class="material-icons">edit</i>
              <% end %>
            </td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate orders, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
