<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'Edit Addresses', addresses_path %></li>
  <li class="divider"></li>
  <li><%= link_to 'Order History', orders_path %></li>
  <li class="divider"></li>
  <li><%= link_to 'Edit Profile', edit_customer_path(current_user.customer) %></li>
</ul>
<nav id="nav">
    <div class="container">
        <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-med-and-up right"><i class="material-icons">menu</i></a>
        <ul class="hide-on-small-and-down">
            <li><%= link_to 'For You', customer_home_path %></li>
            <li><%= link_to 'Our Products', items_path %></li>
            <li class="right" id="cart"><%= link_to new_order_path do %>
                <i class="material-icons left cart">shopping_cart</i>(<%= cart_size %>)
            <% end %> </li>
            <li class="right my-account"><%= link_to current_user.customer, data: {activates: "dropdown1"}, class: "dropdown-button" do %>My Account
                <i class="material-icons right">arrow_drop_down</i>
            <% end %> </li>
        </ul>
        <ul class="side-nav right" id="mobile-demo">
          <li><%= link_to 'Our Products', items_path %></li>
          <% if logged_in? %>
              <li><%= link_to "LOGOUT", logout_path, class: "waves-effect waves-light btn", id: "loginout" %></li>
          <% else %>
              <li><%= link_to "LOGIN", login_path, class: "waves-effect waves-light btn", id: "loginout" %>
              <%= link_to "REGISTER", new_customer_path, class: "waves-effect waves-light btn red"%></li>
          <% end %>
        </ul>
    </div>
</nav>

  <div class="shopping-cart z-depth-3">
    <div class="shopping-cart-header">
      <i class="material-icons cart-icon">shopping_cart</i>(<%= cart_size %>)
      &nbsp;&nbsp;&nbsp;&nbsp;Clear Cart: <%= link_to clear_cart_path do %><i class="material-icons clear-cart">delete</i><% end %></span>
      <div class="fill-space"> </div>
      <div class="shopping-cart-total">
        <span class="lighter-text">Subtotal:</span>
        <span class="main-color-text"><%= number_to_currency calculate_cart_items_cost%></span>
      </div>
    </div> <!--end shopping-cart-header -->
    
    
    <ul class="shopping-cart-items">
      <% get_list_of_items_in_cart.each do |oitem| %>
        <li class="row">
          <%= link_to(image_tag(oitem.item.picture_url.nil? ? 'no_image_found.png' : oitem.item.picture_url, class: "edit-item-picture"), item_path(oitem.item)) %>
          <span class="item-name"><%= link_to oitem.item.name, item_path(oitem.item) %><%= link_to remove_from_cart_path(item_id: oitem.item.id) do %><i class="inline-block material-icons right hover-cart-delete">delete</i><% end %></span>
          <span class="item-price"><%= number_to_currency oitem.item.current_price %></span>
          <span class="item-quantity">Quantity: <%= oitem.quantity %></span>
          
        </li>
      <% end %>
    </ul>
    <div class="checkout">
        <%= link_to 'Checkout', new_order_path, class:"waves-effect waves-light btn checkout" %>
    </div>
  </div> <!--end shopping-cart -->
