<% if addresses.empty? %>
  <h5>There are no <%= state %> addresses at this time.</h5>
<% else %>
<table class="table striped">
  <thead>
    <tr>
      <% if current_user.role?(:admin) %>
        <th width="100">Customer</th>
      <% end %>
      <th width="100">Recipient</th>
      <th width="100">Address</th>
      <th width="30">Billing?</th>
      <% if current_user.role?(:admin) %>
        <th width="30"></th>
      <% end %>
      <% if can?(:edit, Address) %>
          <th class="align_center" width="30">Options</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% addresses.each do |address| %>
      <tr>
        <% if current_user.role?(:admin) %>
        <td><%= link_to address.customer.proper_name, customer_path(address.customer) %></td>
        <% end %>
        <td><%= link_to address.recipient, address_path(address) %></td>
        <td>
          <%= render :partial => "partials/address_info", locals: {address: address} %>
        </td>
        <td><%= address.is_billing ? "Yes" : "No" %></td>     
        <% if current_user.role?(:admin) %> 
          <td class="align_center"><%= link_to "Make #{address.active ? "Inactive" : "Active"}", toggle_address_state_path(address_id: address.id), class: "waves-effect waves-light btn" %></td>
        <% end %>
        <% if can?(:edit, Address)%>
            <td class="align_center">
              <%= link_to edit_address_path(address) do %>
                <i class="material-icons">edit</i>
              <% end %>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <% if can?(:delete, Address) %>
                <%= link_to(address_path(address), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }) do %>
                  <i class="material-icons">delete</i>
                <% end %>
              <% end %>
            </td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate addresses, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
<p>&nbsp;</p>