<% if addresses.empty? %>
  <h5>There are no <%= state %> addresses at this time.</h5>
<% else %>
<table class="table striped">
  <thead>
    <tr>
      <th width="225">Customer</th>
      <th width="225">Recipient</th>
      <th width="300">Address</th>
      <th width="75">Billing?</th>
      <% if current_user.role? :admin %>
          <th class="align_center" width="100">Options</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% addresses.each do |address| %>
      <tr>
        <td><%= link_to address.customer.proper_name, customer_path(address.customer) %></td>
        <td><%= address.recipient %></td>
        <td>
          <%= render :partial => "partials/address_info", locals: {address: address} %>
        </td>
        <td align="center"><%= address.is_billing ? "Yes" : "No" %></td>      
        <% if current_user.role? :admin %>
            <td class="align_center">
              <%= link_to edit_address_path(address) do %>
                <i class="material-icons">edit</i>
              <% end %>
              &nbsp;&nbsp;&nbsp;&nbsp; 
              <%= link_to(address_path(address), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }) do %>
                <i class="material-icons">delete</i>
              <% end %>
            </td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate addresses, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
<p>&nbsp;</p>