<div id="tabbed">
  <tabs>

    <tab name="active addresses" v-bind:selected="true">
      <% if current_user.role == 'customer' %>
        <%= render :partial => "customer_active", locals: {addresses: @active_addresses, state: 'active'} %>
      <% else %>
        <%= render :partial => "active_addresses", locals: {addresses: @active_addresses} %>
      <% end %>
    </tab>

    <tab name="inactive addresses">
      <% if current_user.role == 'customer' %>
        <%= render :partial => "customer_inactive", locals: {addresses: @inactive_addresses, state: 'inactive'} %>
      <% else %>
        <%= render :partial => "inactive_addresses", locals: {addresses: @inactive_addresses} %>
      <% end %>
    </tab>

  </tabs>
</div>

<p>&nbsp;</p>
<%= render :partial => "partials/add_new_object", locals: {model_name: 'address'} %>