<% if items.empty? %>
    <h5>There are no <%= state %> items at this time.</h5>
<% else %>
    <% items.each do |item| %>
        <div class="itembar z-depth-1 ">
            <div>
                <%= link_to(image_tag(item.picture_url.nil? ? 'no_image_found.png' : item.picture_url, id: 'topbar_image'), item) %>
            </div>
            <div>
                <%= item.name %>
            </div>
            <div class="item-description">
                <%= item.description%>
            </div>
            <div>
                <%= link_to number_to_currency(item.current_price), new_item_price_path %>
            </div>
            <div>
                <%= link_to "Make #{item.active ? "Inactive" : "Active"}", toggle_item_state_path(item_id: item.id), class: "waves-effect waves-light btn" %>
            </div>
            <div>
                <%= link_to edit_item_path(item) do %>
                    <i class="material-icons item-delete">edit</i>
                <% end %>
                <%= link_to item_path(item), method: 'delete', data: {confirm: "Are you sure you want to permanently delete #{item.name}?"} do %>
                    <i class="material-icons item-delete">delete</i>
                <% end %>
            </div>
        </div>
    <% end %>
<% end %>