<div class="row">
    <% items.each do |item| %>
    <div class="col s4 l4 m4">
    <div class="card hoverable">
        <div class="card-image">
            <div class="inner-card-image">
                <%= link_to(image_tag(item.picture_url.nil? ? 'no_image_horizontal.jpg' : item.picture_url), item) %>
            </div>
            <span class="card-title black"><%= item.name%> </span>
            <%= link_to add_to_cart_path(item_id: item.id), class:"btn-floating halfway-fab waves-effect waves-light" do %>
                <i class="material-icons">add</i>
            <% end %>
        </div>
        <div class="card-content">
            <div>
                <%= number_to_currency item.current_price %>
            </div>
            <div>
                Units Per Item: <%= item.units_per_item %>
            </div>
            
        </div>
    </div>
    </div>
    <% end %>
</div>
